version: "3.9"

services:
  app:
    build:
    ports:
      - "8222:8222"
    environment:
      SESSION_SECRET: ;DTIIv|k.lA,2vuRjCqugxsPXB~mz}
    volumes:
      - ./data:/app/data
    networks:
      - mealie_crawler_net
